html,
body {
  height: 100%;
}

body {
  font-size: 18px;
  font-family: "Play", Arial, Helvetica, sans-serif;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  color: #666666;
  margin: 0;
}

.wrapper {
  position: relative;
  width: 100%;
  min-width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.container {
  width: 940px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: normal;
  color: black;
}

table {
  border-collapse: collapse;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

p {
  padding: 0;
  margin: 0;
}

footer {
  position: relative;
  width: 100%;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}

.hero {
  background: url(../img/hero__1.png) left 97% center no-repeat;
  background-color: #F5F5F5;
}

.hero__title-section {
  width: 20%;
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  padding: 24px 0 45px;
}

.hero__main-title {
  font-size: 48px;
  line-height: 1.1;
  font-weight: bold;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.hero__title-desc {
  font-size: 21px;
  margin-bottom: 28px;
  min-width: 332px;
  font-family: "Alegreya Sans", "Arial", sans-serif;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 23px;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__item {
  margin-right: 27px;
  font-family: "Aligreya Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}
.menu__item:last-child {
  margin-right: 0;
}

.menu__link {
  text-decoration: none;
}

.phone-number {
  font-size: 18px;
  line-height: 18px;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.phone-number__icon-elem {
  width: 14px;
  height: 14px;
  margin-right: 6px;
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.features__item {
  margin-right: 18px;
}
.features__item:last-child {
  margin-right: 0;
}

.features__text {
  font-size: 16px;
  line-height: 18px;
  width: 114px;
}

.feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.feature__icon {
  width: 41px;
  height: 41px;
  margin-right: 7px;
}

.feature__text {
  font-size: 16px;
}

.feature__icon-icon {
  max-height: 100%;
}

.btn {
  font-size: 16px;
  font-weight: bold;
  padding: 21px 41px;
  text-transform: uppercase;
  border-radius: 100px;
  line-height: 1;
  text-decoration: none;
  display: inline-block;
  border: none;
}

.btn--theme--red {
  background: #E01F3D;
  color: #fff;
  margin-bottom: 94px;
}

.btn--theme--red:hover {
  background: #CA1B36;
  color: #fff;
}

.btn--theme--transparent {
  text-transform: capitalize;
  background: transparent;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: white;
  border: none;
  padding: 0 21px 90px;
}

.btn--theme--transparent:hover {
  color: red;
}

.section {
  height: 100vh;
  min-height: 650px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section__title {
  font-size: 48px;
  line-height: 52px;
  font-weight: bold;
  margin-bottom: 60px;
  text-align: center;
  text-transform: uppercase;
  color: #292929;
}

.section__title-form {
  color: white;
}

.headline {
  text-align: center;
}

.headline__title {
  color: #292929;
  margin-bottom: 18px;
}

.headline__subtitle {
  padding: 0 34%;
  margin-bottom: 62px;
  font-size: 16px;
  line-height: 19px;
}

.benefits__main-title {
  margin-bottom: 18px;
}

.benefits__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 100px;
}

.benefits__item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 3%;
  text-align: center;
  position: relative;
}

.benefits__item::before {
  content: url(../img/shape.png);
  position: absolute;
  top: 60px;
  right: 0;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  display: block;
  width: 70px;
  height: 24px;
}

.benefits__item:first-child {
  padding-left: 0;
}

.benefits__item:last-child {
  padding-right: 0;
}

.benefits__item:last-child::before {
  display: none;
}

.benefit {
  text-align: center;
}

.benefit__image {
  margin-bottom: 19px;
}

.benefit__image-wrapper {
  display: inline-block;
  width: 126px;
  height: 126px;
  position: relative;
  background: #F2F5F4;
  border-radius: 50%;
  overflow: hidden;
}

.benefit__icon {
  max-width: 60px;
  max-height: 62px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.benefit__title {
  margin-bottom: 7px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  font-weight: bold;
}

.benefit__desc {
  max-width: 88%;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #666666;
  margin: 0 auto;
}

.reviews__main-title {
  margin-bottom: 32px;
}

.reviews__display {
  background: #F8FAF9;
  padding: 42px 39px 42px;
  margin-bottom: 11px;
}

.reviews__display-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reviews__avatar-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.reviews__avatar {
  width: 253px;
  height: 264px;
}

.reviews__avatar-img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.reviews__content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 40px;
  padding-top: 32px;
  max-width: 54%;
}

.reviews__title {
  font-weight: bold;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 27px;
  color: black;
}

.reviews__text {
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 38px;
  color: #666666;
}

.reviews__author {
  font-size: 18px;
  font-weight: bold;
  color: black;
}

.reviews__switcher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.interactive-avatar {
  width: 80px;
  height: 80px;
  border: 6px solid transparent;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}

.interactive-avatar--active {
  border-color: red;
}

.interactive-avatar__link {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: block;
}

.interactive-avatar__img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.order-section {
  background: url(/img/form__img.png);
  color: #fff;
}

.order-section__title {
  color: inherit;
  margin-bottom: 58px;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form__title {
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 6px;
  color: white;
}

.form__col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 15px;
}
.form__col:last-child {
  margin-right: 0;
}

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 17px;
     -moz-column-gap: 17px;
          column-gap: 17px;
}
.form__row--textarea {
  margin-bottom: 18px;
}

.form__controls {
  margin-bottom: 20px;
}

.form__block {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.form__col-ml {
  margin-left: 27px;
}

.form__input {
  width: 100%;
  border: 3px solid transparent;
  border-radius: 4px;
  padding: 18px 12px;
  margin-bottom: 11px;
}
.form__input--textarea {
  display: block;
  height: 152px;
  resize: none;
}

.form__btns {
  margin-top: 46px;
}

.form__input-textarea {
  width: 100%;
  border: 3px solid transparent;
  border-radius: 4px;
  margin-bottom: 10px;
  padding: 58px;
}

.radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.radio__elem {
  display: none;
}

.radio__elem:checked ~ .radio__visible::before {
  display: block;
}

.radio__title {
  font-size: 16px;
  line-height: 19px;
}

.radio__visible {
  width: 26px;
  height: 26px;
  position: relative;
  border-radius: 50%;
  background: #fff;
  margin-right: 10px;
}
.radio__visible::before {
  content: "";
  width: 14px;
  height: 14px;
  background: #E01F3D;
  border-radius: 50%;
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.radio__visible--checkbox {
  border-radius: 0;
}
.radio__visible--checkbox::before {
  background: transparent;
  border-left: 3px solid #E01F3D;
  border-bottom: 3px solid #E01F3D;
  border-radius: 0;
  height: 4px;
  width: 10px;
  -webkit-transform: translate(-50%, -50%) rotate(313deg);
          transform: translate(-50%, -50%) rotate(313deg);
}

.fixed-menu {
  position: fixed;
  top: 20%;
  right: 3%;
}

.fixed-menu__item {
  margin-bottom: 5px;
}
.fixed-menu__item--active .fixed-menu__link {
  border-color: #547655;
}

.fixed-menu__link {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.fixed-menu__link::before {
  content: "";
  width: 6px;
  height: 6px;
  background-color: #292929;
  border-radius: 50%;
}

.logo {
  width: 40px;
  height: 40px;
}
/*# sourceMappingURL=main.css.map */