.benefits__main-title{
    margin-bottom: 18px;
}

.benefits__list {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 100px;
}

.benefits__item {
    flex: 1;
    padding: 0 3%;
    text-align: center;
    position: relative;
}

.benefits__item::before {
    content: url(../img/shape.png);
    position: absolute;
    top: 60px;
    right: 0;
    transform: translateX(50%);
    display: block;
    width: 70px;
    height: 24px;
}

.benefits__item:first-child {
    padding-left: 0;
}

.benefits__item:last-child {
    padding-right: 0;
}

.benefits__item:last-child::before {
    display: none;
}