.benefit {
    text-align: center;
}

.benefit__image {
    margin-bottom: 24px;
}

.benefit__image-wrapper {
    display: inline-block;
    width: 126px;
    height: 126px;
    position: relative;
    background: #F2F5F4;
    border-radius: 50%;
    overflow: hidden;
}

.benefit__icon {
    max-width: 60px;
    max-height: 62px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.benefit__title {
    margin-bottom: 7px;
    font-weight: bold;
}

.benefit__desc {
    width: 56%;
    margin-left: 100px;
}