.headline {
    text-align: center;
}

.headline__title {
    color: #292929;
    margin-bottom: 18px;
}

.headline__subtitle {
    padding: 0 34%;
    margin-bottom: 62px;
    font-size: 16px;
    line-height: 19px;
}