.hero {
    background: url(../img/hero__1.png) left 97% center no-repeat;
    background-color: #F5F5F5;
}

.hero__title-section {
    width: 20%;
}

.hero__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 24px 0 45px;
}

.hero__main-title {
    font-size: 48px;
    line-height: 1.1;
    font-weight: bold;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.hero__title-desc {
    font-size: 21px;
    margin-bottom: 28px;
    min-width: 332px;
    font-family: 'Alegreya Sans', 'Arial', sans-serif;
}