.separator {
    background: #17191C url(../../img/people.png) right 20% bottom no-repeat;
    min-height: 360px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
}

.separator__content {
    max-width: 40%;
}

.separator__title {
    font-size: 48px;
    font-weight: bold;
    line-height: 1.1;
}
